@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.primary{
  color: #CAEB66;
}
.bg-primary{
  background-color: #CAEB66;
}
.border-primary{
  border-color: #CAEB66;
}

body{
  background-color: #f3f4f6;
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}